@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
  color: #2b426a;
}

.big-bg {
  background-image: url('./assets/Group\ 11.svg');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
