@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
  color: #2b426a;
}

@media (min-width: 768px) {
  .custom-login-bg {
    background-image: url('./assets/Group\ 11.svg') !important;
    background-size: 100% 100%;
  }
}
.custom-login-bg {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-image: url('./assets/icon.svg');
  background-position-y: bottom;
  background-position-x: center;
}
